.detail {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    overflow: hidden;
}

.detail .back {
    float: left;
    margin-top: 60px;
    margin-left: 40px;
    color: #fff;
    cursor: pointer;
    width: 38px;
    z-index: 1;
    padding: 0;
}

.detail .loading-spinner-wrapper {
    width: 100vw;
    position: absolute;
    height: 100vh;
    text-align: center;
}

.detail .loading-spinner-wrapper .loading-spinner {
    width: 50px;
    height: 50px;
    margin-top: 45vh;
    display: inline-block;
    text-align: left;
}

.status-btn-holder {
    position: absolute;
    width: 100vw;
    text-align: center;
    margin-top: 41vh;
}

.detail .loading-spinner-wrapper .status-btn {
    color: #fff;
    opacity: .6;
     display: inline-block;
    position: relative;
}

.detail .loading-spinner-wrapper .status-text {
    width: 50vw;
    line-height: 25px;
    color: white;
    opacity: .6;
    padding-left: 25vw;
    padding-right: 25vw;
    font-size: 20px;
    font-weight: 200;
    position: fixed;
    margin-top: calc(45vh - 65px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}