.show-detail {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #17181b;
    overflow: hidden;
}

.show-detail .bg-backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    -webkit-filter: brightness(45%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.show-detail .summary-wrapper {
    position: relative;
    width: 100vw;
    height: 25vh;
}

.show-detail .summary-wrapper .back {
    float: left;
    margin-top: 54px;
    margin-left: 28px;
    z-index: 2;
    color: #fff;
    cursor: pointer;
    font-size: 42px;
}

.show-detail .summary-wrapper .title {
    color: #fff;
    margin-top: 60px;
    margin-left: 27px;
    float: left;
    font-size: 42px;
    font-weight: 500;
}

.show-detail .summary-wrapper .watched-toggle,
.show-detail .summary-wrapper .bookmark-toggle {
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 140px;
    color: #fff;
}

.show-detail .summary-wrapper .bookmark-toggle {
    right: 80px;
}

.show-detail .summary-wrapper .season-tabs {
    position: absolute;
    width: 100%;
}

.show-detail .summary-wrapper .season {
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.7;
    color: #fff;
}

.show-detail .summary-wrapper paper-tab.core-selected {
    opacity: 1;
}

.show-detail .seasons-wrapper {
    position: absolute;
    top: 145px;
    height: auto;
    left: 20px;
    right: 80px;
}

.show-detail .info-wrapper {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 240px);
    top: 240px;
    bottom: 0;
}

.show-detail .info-wrapper .poster {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 110px;
    height: calc(100vh - 240px - 50px);
    width: calc((100vh - 240px - 50px) * 2 / 3);
    z-index: 3;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.show-detail .info-wrapper .meta-container {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: calc(((100vh - 240px - 50px) * 2 / 3) + 170px);
    right: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: calc(100% - 180px);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}

.show-detail .info-wrapper .meta-container::-webkit-scrollbar {
    width: 2px;
}

.show-detail .info-wrapper .meta-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.show-detail .info-wrapper .meta-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.22);
}

.show-detail .info-wrapper .meta-item {
    float: left;
    color: #fff;
    line-height: 20px;
}

.show-detail .info-wrapper .meta-item i {
    font-size: 17px;
}

.show-detail .info-wrapper .meta-item p {
    float: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
}

.show-detail .info-wrapper .meta-synop {
    text-align: justify;
    padding-right: 5px;
    margin-top: 44px;
    position: relative;
    color: #fff;
    width: 100%;
    line-height: 25px;
    font-size: 15px;
    text-rendering: optimizeLegibility;
}

.show-detail .info-wrapper .meta-btn {
    color: #fff;
    font-weight: 500;
    padding-top: 2px;
    margin-top: 20px;
    opacity: 0.7;
    transition: opacity 100ms linear;
}

.show-detail .info-wrapper .meta-btn:hover {
    opacity: 1;
}

.show-detail .info-wrapper .meta-btn:active {
    opacity: 1;
}

.show-detail .info-wrapper .meta-btn#trakt-link {
    margin-left: -6px;
}

.show-detail .info-wrapper .meta-btn i {
    margin-right: 8px;
}

.show-detail .info-wrapper .meta-dot {
    float: none;
    display: inline-block;
    position: relative;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 16px;
    margin-right: 16px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.show-detail .info-wrapper .meta-divider {
    width: 100%;
    position: relative;
    margin-top: 36px;
    margin-bottom: 41px;
    background-color: rgba(255, 255, 255, 0.12);
    height: 1px;
}

.show-detail .info-wrapper .people {
    position: relative;
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
}

.show-detail .info-wrapper .people p {
    color: #fff;
    font-size: 15px;
}

.show-detail .info-wrapper .people .person-avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    float: left;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.show-detail .info-wrapper .people .person-avatar img {
    width: 100%;
    margin-top: -25%;
}

.show-detail .info-wrapper .people .person {
    padding: 10px 0 3px;
    cursor: pointer;
    transition: border-color, color 100ms linear;
}

.show-detail .info-wrapper .people .person:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.show-detail .info-wrapper .people .status {
    color: rgba(255, 255, 255, 0.65) !important;
    font-size: 15px;
}

.show-detail .episode-container {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: calc(((100vh - 240px - 50px) * 2 / 3) + 170px);
    right: 60px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: calc(100% - 180px);
    overflow-y: auto;
    overflow-x: hidden;
}

.show-detail .episode-container::-webkit-scrollbar {
    width: 2px;
}

.show-detail .episode-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.show-detail .episode-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.22);
}

.show-detail .episode-container li {
    height: 45px;
    list-style: none;
    color: #fff;
    cursor: default;
    overflow: hidden;
}

.show-detail .episode-container li.active {
    transition: background-color 150ms ease-in-out;
    background-color: #3f51b5;
    border: box-shadow 0 2px 5px rgba(0, 0, 0, 0.39);
}

.show-detail .episode-container li.active paper-icon-button {
    visibility: visible;
}

.show-detail .episode-container li.active p.episode-id,
.show-detail .episode-container li.active p.episode-name {
    font-weight: 500;
}

.show-detail .episode-container li.active p.episode-airdate {
    visibility: visible;
}

.show-detail .episode-container li.active p.episode-name {
    max-width: calc(100% - 488px);
}

.show-detail .episode-container li.active.watched p.episode-id,
.show-detail .episode-container li.active.watched p.episode-name {
    color: #fff;
}

.show-detail .episode-container li.watched p.episode-id {
    color: rgba(255, 255, 255, 0.4);
}

.show-detail .episode-container li.watched p.episode-name {
    color: rgba(255, 255, 255, 0.4);
}

.show-detail .episode-container li p.episode-id {
    text-transform: uppercase;
    line-height: 45px;
    font-size: 14px;
    float: left;
    letter-spacing: 0.3px;
    margin-left: 17px;
    font-weight: 400;
}

.show-detail .episode-container li p.episode-name {
    line-height: 45px;
    font-size: 14px;
    max-width: calc(100% - 192px);
    min-width: 110px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin-left: 25px;
    font-weight: 400;
}

.show-detail .episode-container li p.episode-airdate {
    line-height: 45px;
    font-size: 13.5px;
    float: right;
    position: relative;
    visibility: hidden;
    letter-spacing: 0.6px;
    margin-right: 20px;
    font-weight: 500;
    opacity: 0.7;
}

.show-detail .episode-container li paper-icon-button {
    font-size: 22px;
    line-height: 45px;
    visibility: hidden;
    margin-top: 2px;
    cursor: pointer;
}

.show-detail .episode-container li paper-icon-button.info-icon {
    float: right;
    margin-right: 15px;
    padding: 0;
    width: 25px;
    height: 25px;
    margin-top: -1px;
}

.show-detail .season-next {
    position: absolute;
    right: 40px;
    width: 19px;
    color: #fff;
    margin-top: 15.5vh;
}

.show-detail .season-prev {
    position: absolute;
    color: #fff;
    left: 65px;
    width: 19px;
    margin-top: 15.5vh;
}

.show-detail .controls-container {
    position: absolute;
    height: 180px;
    width: 100vw;
    right: 0;
    bottom: 0px;
    background-color: #111214;
    z-index: 2;
}

.show-detail .controls-container .watchnow-btn {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    float: right;
    position: absolute;
    top: 65px;
    right: 80px;
    transition: background-color 0.2s;
    background-color: #3f51b5;
}

.show-detail .controls-container .watchnow-btn:hover {
    background-color: #3a499b;
}

.show-detail .controls-container .watchnow-btn:active {
    background-color: #2d41b1;
    transition: background-color 0.2s;
}

.show-detail .controls-container .watchnow-btn i {
    margin-right: 9px;
    float: left;
    line-height: 25px;
}

.show-detail .episode-container ul,
.show-detail .show-info {
    display: none;
    opacity: 0;
    transition: background-color 0.3s ease;
}

.show-detail .show-info.visible {
    display: block;
    opacity: 1;
}

.show-detail .episode-container ul.episode-list-show,
.show-detail .episode-list-show {
    display: block;
    opacity: 1;
}