.settings {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    overflow: hidden;
}

.settings .back {
    float: left;
    margin-top: 60px;
    margin-left: 40px;
    color: #fff;
    cursor: pointer;
    width: 38px;
    z-index: 1;
    padding: 0;
}

.settings .container {
    margin: 60px 40px 20px 40px;
    height: calc(100vh - 60px - 20px);
}

.settings h1 {
    font-size: 34px;
    font-weight: 400;
    color: #fff;
    z-index: 1;
    position: absolute;
    line-height: 40px;
    margin-left: 52px;
}

.settings .panel-container {
    width: 100vw;
    left: 0;
    height: 100vh;
    top: 0;
    position: absolute;
    box-sizing: border-box;
}

.settings .left-panel {
    width: 300px;
    height: 100%;
    background-color: #3f51b5;
    float: left;
}

.settings .settings-tab-container {
    margin-top: 120px;
    position: relative;
}

.settings .setting-tab {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    text-align: right;
    height: 50px;
    text-transform: uppercase;
    line-height: 25px;
}

.settings .setting-tab .icon {
    margin-right: 20px;
    margin-left: 65px;
}

.settings .right-panel {
    width: calc(100% - 300px);
    height: 100;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
    box-sizing: border-box
}

.settings .right-panel .setting {
    min-height: 35px;
    width: 100%;
    padding: 5px;
    margin-bottom: 12px
}

.settings .right-panel h1,
.settings .right-panel h2,
.settings .right-panel h3,
.settings .right-panel h4,
.settings .right-panel p {
    color: #fff;
}

.settings .right-panel h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.settings .right-panel .setting-inner {
    padding-left: 5px;
}

.settings .setting paper-checkbox {
    margin: 8px 0;
}

.setting.flex-checkbox .setting-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 850px;
}

.setting.flex-checkbox paper-checkbox {
    width: 50%;
    min-width: 355px;
}

.hidden {
    display: none !important;
}

.settings .setting.plugins-list .setting-inner paper-listbox {
    min-width: 445px;
}

.settings .setting.plugins-list .setting-inner paper-item {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.settings .setting.plugins-list .plugin-btns .btn:not(:last-of-type) {
    margin-right: 4px;
}

.settings .setting.plugins-list .plugin-btns .btn {
    display: inline-block;
}