.settings {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    overflow: hidden;
}

.settings .back {
    float: left;
    margin-top: 60px;
    margin-left: 40px;
    color: #fff;
    cursor: pointer;
    width: 38px;
    z-index: 1;
    padding: 0;
}

.settings .container {
    margin: 60px 40px 20px 40px;
    height: calc(100vh - 60px - 20px);
}

.settings h1 {
    font-size: 34px;
    font-weight: 400;
    color: #fff;
    line-height: 38px;
    margin-left: 52px;
}

.settings .panel-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 48px);
    margin-top: 10px;
}

.settings .left-panel {
    background-color: rgba(45, 45, 45, 0.7);
    width: 200px;
    height: 100%;
    float: left;
}

.settings .right-panel {
    width: calc(100% - 200px);
    height: 100%;
    float: right;
    padding: 5px 15px;
    box-sizing: border-box
}

.settings .right-panel .setting {
    min-height: 35px;
    width: 100%;
    padding: 5px;
    margin-bottom: 12px
}
.settings .right-panel h1, .settings .right-panel h2, .settings .right-panel h3, .settings .right-panel p {
    color: #fff;
}

.settings .right-panel h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.settings .right-panel .setting-inner {
    padding-left: 5px;
}

.settings .setting paper-checkbox {
    margin: 8px 0;
}

.setting.flex-checkbox .setting-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 850px;
}
.setting.flex-checkbox paper-checkbox {
    width: 50%;
    min-width: 355px;
}

.hidden {
    display: none !important;
}

.settings .setting.plugins-list .setting-inner paper-listbox {
    min-width: 445px;
}

.settings .setting.plugins-list .setting-inner paper-item {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.settings .setting.plugins-list .setting-inner .plugin-btns paper-icon-button:not(:last-of-type) {
    margin-right: 4px;
}
