<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Photon Media Movie</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500italic,500,300italic,300,100italic,100,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Begin Paper Elements -->
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="../bower_components/paper-item/paper-item.html">
    <link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
    <link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="../bower_components/iron-icons/av-icons.html">
    <link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
    <!-- End Paper Elements -->
    <link rel="stylesheet" type="text/css" href="../reset.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="header.css">
</head>

<body>
    <header>
        <span class="title">Photon Media</span>
        <div class="os-controls">
            <paper-icon-button class="minimize" icon="remove"></paper-icon-button>
            <paper-icon-button class="maximize" icon="check-box-outline-blank"></paper-icon-button>
            <paper-icon-button class="close" icon="close"></paper-icon-button>
        </div>
    </header>
    <div id="root" class="movie-detail">
        <div class="bg-backdrop" style="background-image: url(https://walter.trakt.us/images/movies/000/183/371/fanarts/original/2097014462.jpg)"> </div>
        <div class="summary-wrapper movie">
            <paper-icon-button class="back" icon="arrow-back"></paper-icon-button>
            <div class="title">
                The Martian
            </div>
            <paper-icon-button id="bookmark_button" icon="bookmark-border" class="bookmark-toggle"> </paper-icon-button>
            <paper-tooltip for="bookmark_button" offset="0">Bookmark movie</paper-tooltip>
            <img src="https://walter.trakt.us/images/movies/000/183/371/posters/thumb/8767195506.jpg" class="poster" />
            <div class="meta">
                <div class="meta-item">
                    <paper-icon-button noink icon="star" class="star"></paper-icon-button>
                    <paper-icon-button noink icon="star" class="star"></paper-icon-button>
                    <paper-icon-button noink icon="star-half" class="star"></paper-icon-button>
                    <paper-icon-button noink icon="star-border" class="star"></paper-icon-button>
                    <paper-icon-button noink icon="star-border" class="star"></paper-icon-button>
                    <span class="meta-dot first"></span>
                    <p>Science Fiction, Adventure, Drama</p>
                    <span class="meta-dot"></span>
                    <p>2015</p>
                    <span class="meta-dot"></span>
                    <p>141 mins</p>
                </div>
                <div class="meta-synop">
                    During a manned mission to Mars, Astronaut Mark Watney is presumed dead after a fierce storm and left behind by his crew. But Watney has survived and finds himself stranded and alone on the hostile planet. With only meager supplies, he must draw upon his ingenuity, wit and spirit to subsist and find a way to signal to Earth that he is alive.
                </div>
                <paper-button class="meta-btn first">
                    theatre showtimes
                </paper-button>
                <paper-button class="meta-btn">
                    Watch Trailer
                </paper-button>
                <paper-button class="meta-btn right first">
                </paper-button>
                <div class="meta-divider"></div>
                <div data-id="<%= person.imdb_code %>" class="people">
                    <div class="person-avatar">
                        <div style="background-image: url(https://walter.trakt.us/images/people/000/004/570/headshots/thumb/370d286e5d.jpg)" alt=""></div>
                    </div>
                    <p class="person">
                        Ridley Scott
                    </p>
                    <p class="status">
                        Director
                    </p>
                </div>
                <div data-id="<%= actor.imdb_code %>" class="people">
                    <div class="person-avatar">
                        <div style="background-image: url(https://walter.trakt.us/images/people/000/004/696/headshots/thumb/43342667f9.jpg)"></div>
                    </div>
                    <p class="person">
                        Matt Damon
                    </p>
                    <p class="status">
                        Actor
                    </p>
                </div>
            </div>
        </div>
        <div class="controls-container">
            <div class="meta-container-c">
                <style is="custom-style">
                paper-dropdown-menu.meta-dropdown {
                    --paper-dropdown-menu: {
                        top: 2px;
                        width: 150px;
                    }
                    --paper-dropdown-menu-input:{
                        color: #fff !important;
                    }
                    --paper-dropdown-menu-icon: {
                        color: #fff;
                    }
                    --paper-input-container-underline: {
                        display: none;
                    }
                }
                </style>
                <li class="quality">
                    <paper-icon-button class="icon" noink icon="av:high-quality"></paper-icon-button>
                    <span class="quality">1080p</span>
                </li>
            </div>
            <paper-button raised style="" class="watchnow-btn">
                <paper-icon-button noink class="play-icon" icon="av:play-arrow"></paper-icon-button> Watch Now
            </paper-button>
        </div>
    </div>
</body>

</html>